In [1]:
# Lets add our package to Python's path

import set_sys_path

In [2]:
import sys; sys.path

['/Users/timkofu/code_base/F21DLCW/cw1',
 '/Users/timkofu/code_base/F21DLCW/cw1/classy/view/jupyter_notebook',
 '/Users/timkofu/.local/share/virtualenvs/cw1-bLespvwF/lib/python37.zip',
 '/Users/timkofu/.local/share/virtualenvs/cw1-bLespvwF/lib/python3.7',
 '/Users/timkofu/.local/share/virtualenvs/cw1-bLespvwF/lib/python3.7/lib-dynload',
 '/usr/local/Cellar/python/3.7.4_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7',
 '',
 '/Users/timkofu/.local/share/virtualenvs/cw1-bLespvwF/lib/python3.7/site-packages',
 '/Users/timkofu/.local/share/virtualenvs/cw1-bLespvwF/lib/python3.7/site-packages/IPython/extensions',
 '/Users/timkofu/.ipython']

In [3]:
# And there it is in the first row.

# Task 1 description
from classy.controller.tasks import one
print(one.__doc__)

[Data Conversion] Convert all csv files into arff format suitable for Weka. Some suitable data
set pre-processing may be needed before you can load the csv files to Weka.

Notes:
    * Convert the floats to integers
    * Is there discretazation(binning) or normalization(z-score et al) that's needed?
    * * The answer to that depends on groking how naive bayes works. Will do that.
    * * Also revise on how these are done with Python.

In [4]:
# The folder is set, now we see what CSVs we can work with

from classy.model.data.read import Reader
from classy.model.data.write import Writer

# Instantiate the data reader
reader = Reader()

In [5]:
# Let's see our data and lables

reader.list_data_files(file_type="csv")

['y_train_smpl_0.csv',
 'y_train_smpl_1.csv',
 'y_train_smpl_3.csv',
 'x_train_gr_smpl.csv',
 'y_train_smpl_2.csv',
 'y_train_smpl_6.csv',
 'y_train_smpl_7.csv',
 'y_train_smpl.csv',
 'y_train_smpl_5.csv',
 'y_train_smpl_4.csv',
 'y_train_smpl_9.csv',
 'y_train_smpl_8.csv']

In [6]:
# Load the main dataset
x_train_gr_smpl = reader.load_data("x_train_gr_smpl", file_type="csv")

In [8]:
# Some statitstics about the dataset
x_train_gr_smpl.describe()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
count,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,...,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000
mean,90.275908,90.296840,90.331043,90.369510,90.608847,90.852370,91.113033,91.427488,91.566588,91.775355,...,72.123460,71.547393,71.399368,70.980253,70.064455,69.243681,68.339336,67.716983,67.734992,67.784123
std,79.531811,79.674242,79.816240,79.896452,79.958141,80.082173,80.266651,80.406439,80.439131,80.457116,...,65.643296,65.317373,65.485237,65.649521,65.109495,64.328815,63.312147,62.688005,62.951496,63.289188
min,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,5.000000
25%,29.000000,29.000000,29.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,29.000000,...,26.000000,25.000000,25.000000,25.000000,25.000000,24.000000,24.000000,24.000000,24.000000,24.000000
50%,55.000000,56.000000,55.000000,55.000000,56.000000,56.000000,56.000000,56.000000,57.000000,57.000000,...,47.000000,47.000000,47.000000,46.000000,45.000000,44.000000,44.000000,44.000000,43.000000,43.000000
75%,136.000000,136.000000,135.000000,136.000000,137.000000,137.000000,140.000000,140.000000,140.000000,140.000000,...,94.000000,93.000000,93.000000,92.000000,91.000000,90.000000,88.000000,87.000000,86.000000,87.000000
max,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000

In [9]:
# Let's get 5 random rows.
x_train_gr_smpl.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
7722,194.0,193.0,194.0,192.0,192.0,192.0,191.0,191.0,192.0,193.0,...,74.0,74.0,72.0,72.0,72.0,73.0,72.0,69.0,72.0,74.0
11056,170.0,171.0,170.0,169.0,169.0,169.0,170.0,170.0,170.0,170.0,...,145.0,147.0,147.0,148.0,147.0,145.0,145.0,145.0,147.0,149.0
6106,62.0,59.0,56.0,55.0,53.0,53.0,58.0,56.0,54.0,54.0,...,45.0,45.0,48.0,50.0,54.0,65.0,83.0,105.0,111.0,107.0
8577,42.0,29.0,24.0,26.0,41.0,42.0,30.0,25.0,60.0,43.0,...,40.0,45.0,26.0,34.0,41.0,46.0,52.0,24.0,17.0,26.0
12548,32.0,33.0,37.0,56.0,71.0,90.0,160.0,213.0,252.0,207.0,...,26.0,25.0,26.0,26.0,26.0,26.0,25.0,26.0,33.0,39.0

In [10]:
# All values seem to be integers. Let's make sure.

import numpy  # We shall vectorize the application of is_iteger, much faster

# And apply Python's all() to the results to check if every single value is True
all(x_train_gr_smpl.apply(numpy.vectorize(float.is_integer)))

True

In [11]:
# Ok, so they are all integers. Let's convert them to what they actually are.
x_train_gr_smpl = x_train_gr_smpl.astype(int)

In [12]:
(x_train_gr_smpl.dtypes).sample(5)

671     int64
1639    int64
133     int64
2283    int64
1774    int64
dtype: object

In [13]:
x_train_gr_smpl.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
3738,44,42,43,43,42,41,42,42,41,41,...,56,54,55,79,68,85,88,90,90,91
9191,52,51,48,47,62,89,105,111,114,118,...,50,52,39,28,20,19,20,19,19,18
4405,14,14,15,15,15,14,13,13,13,14,...,31,43,43,37,32,37,32,26,22,25
1539,66,67,68,66,61,57,59,58,59,64,...,104,75,55,41,39,39,39,40,41,42
3874,166,149,125,104,84,62,57,58,56,55,...,70,69,66,63,61,62,67,75,75,75

In [14]:
# Now we describe again to see if converting to integers had any effect.
x_train_gr_smpl.describe()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
count,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,...,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000,12660.000000
mean,90.275908,90.296840,90.331043,90.369510,90.608847,90.852370,91.113033,91.427488,91.566588,91.775355,...,72.123460,71.547393,71.399368,70.980253,70.064455,69.243681,68.339336,67.716983,67.734992,67.784123
std,79.531811,79.674242,79.816240,79.896452,79.958141,80.082173,80.266651,80.406439,80.439131,80.457116,...,65.643296,65.317373,65.485237,65.649521,65.109495,64.328815,63.312147,62.688005,62.951496,63.289188
min,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,5.000000
25%,29.000000,29.000000,29.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,29.000000,...,26.000000,25.000000,25.000000,25.000000,25.000000,24.000000,24.000000,24.000000,24.000000,24.000000
50%,55.000000,56.000000,55.000000,55.000000,56.000000,56.000000,56.000000,56.000000,57.000000,57.000000,...,47.000000,47.000000,47.000000,46.000000,45.000000,44.000000,44.000000,44.000000,43.000000,43.000000
75%,136.000000,136.000000,135.000000,136.000000,137.000000,137.000000,140.000000,140.000000,140.000000,140.000000,...,94.000000,93.000000,93.000000,92.000000,91.000000,90.000000,88.000000,87.000000,86.000000,87.000000
max,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000

In [14]:
# Standard Deviation is exactly the same.

# Save this dataframe and move on to task 2

writer = Writer()

writer.store_dataframe(x_train_gr_smpl, "task_1")